extends ../layouts/admin

block content

    div(class="page-header")
        h3 Список пользователей
        a(class="btn btn-primary pull-right", href="/admin/users/new" style="margin-top:-45px;") Создать

    - if (users.length)
        table(class="table table-hover")
            thead
                tr
                    th id
                    th Логин
                    th Email
                    th Тип
                    th Роли
                    th(width="220px") Действия
            tbody
                - users.forEach(function(user){
                    tr
                        td #{user.id}
                        td #{user.username}
                        td #{user.email}
                        td #{types[user.type]}
                        td
                            - user.roles.forEach(function(role){
                                 #{role.name}
                            - })
                        td
                            div(class="btn-group")
                                a(class="btn btn-primary", href="/admin/users/edit/#{user.id}") Редактировать
                                a(class="btn btn-primary", onclick="return delete_confirm();", href="/admin/users/delete/#{user.id}") Удалить
                - })